body {
    background: #f2f5f7;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

.container, #form1 {
    max-width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

#form1:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Поля */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    font-size: 16px;
    transition: 0.2s;
}

input:focus,
textarea:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 8px rgba(13, 110, 253, 0.3);
    outline: none;
}

/* Чекбокс */
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    transform: scale(1); /* фикс от гигантских чекбоксов */
}

/* Кнопка */
button {
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.25s;
}

button:hover {
    background: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Сбщения */
.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.success {
    background: #d4edda;
    color: #155724;
}

.error {
    background: #f8d7da;
    color: #721c24;
}

/* темная тема */

body.dark {
    background: #1a1a1a;
    color: white;
}

/* белые блоки пачкуются в мазуте */
body.dark .bg-white {
    background: #2a2a2a !important;
    color: #fff !important;
}

/* поля */
body.dark input,
body.dark textarea,
body.dark select {
    background: #333 !important;
    border-color: #555 !important;
    color: #fff !important;
}

/* отзывы */
body.dark .shadow-sm {
    background: #2e2e2e !important;
    color: #fff !important;
}

#themeToggle {
    color: black;       /* текст тёмный на светлом фоне */
    background: #fff;   /* фон кнопки */
    border: 1px solid #ccc;
}

/* цвет текста кнопки в тёмной теме */
body.dark #themeToggle {
    color: white;       /* текст белый на тёмном фоне */
    background: #333;   /* фон кнопки */
    border: 1px solid #555;
}

/* Для мобилки */
@media (max-width: 480px) {
    .container, #form1 {
        margin: 20px;
        padding: 20px;
    }

    input, textarea {
        font-size: 14px;
        padding: 8px;
    }

    button {
        padding: 12px;
        font-size: 17px;
    }
}
